<br class="mt-2" />
<mat-card class="flight-card mt-2">
  <mat-card-header>
    <mat-card-title>
      <b>{{ journey.origin }} - {{ journey.destination }}</b></mat-card-title
    >
    <mat-card-subtitle class="ml-5">
      <p><b>Total:</b> {{ journey.price | currency }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="horizontal-scroll-container d-flex">
      @for (flight of journey.flights; track $index) {
      <div class="flight-info">
        <mat-icon class="icon">flight_takeoff</mat-icon>
        <p>
          <b>
            Vuelo {{ flight.transport.flightCarrier }} -
            {{ flight.transport.flightNumber }}
          </b>
        </p>
        <div class="row justify-content-start align-items-start text-start">
          <h5>
            Origen: {{ flight.origin }} - {{ airports[flight.origin].location }}
          </h5>
          <p>
            Nombre de aeropuerto:
            {{ getString(airports[flight.origin].name) }}
          </p>
          <p>
            Dirección:
            {{
              getAddress(
                airports[flight.origin].street,
                airports[flight.origin].street_number
              )
            }}
          </p>
          <p>Teléfono: {{ getString(airports[flight.origin].phone) }}</p>
          <p>
            Código Postal:
            {{ getString(airports[flight.origin].postal_code) }}
          </p>
          <p>
            @if (airports[flight.origin].website) {
              <a [href]="getString(airports[flight.origin].website)"
              >Website</a
            >
            }
            
          </p>

          <h5>
            Destino: {{ flight.destination }} -
            {{ airports[flight.destination].location }}
          </h5>
          <p>
            Nombre de aeropuerto:
            {{ getString(airports[flight.destination].name) }}
          </p>
          <p>
            Dirección:
            {{
              getAddress(
                airports[flight.destination].street,
                airports[flight.destination].street_number
              )
            }}
          </p>

          <p>Teléfono: {{ getString(airports[flight.destination].phone) }}</p>

          <p>
            Código Postal:
            {{ getString(airports[flight.destination].postal_code) }}
          </p>
          <p>
            @if (airports[flight.destination].website) {
              <a [href]="getString(airports[flight.destination].website)"
              >Website</a
            >
            }
            
          </p>
          <p><b>Precio:</b> {{ flight.price | currency }}</p>
        </div>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>
